@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .icon_wrapper{
    @apply border border-gray-400 bg-slate-400 rounded-lg sm:w-[45px] w-[25px] sm:h-[45px] h-[25px] grid place-items-center text-[22px]
  }
}

/* @layer base {
  body{
    background-color: black;
  }
} */

.slick-slide > div {
  margin: 0 10px; 
  
};

.slick-prev,
.slick-next
{
    font-size: 5px;
    line-height: 6px;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: red;
    border: none;
    outline: none;
    background: bisque;
}
